<div class="container-fruid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% feeds.each do |feed| %>
        <% if (feed.member == current_member || current_member.following?(feed.member) || feed.member.is_private == false) && feed.member.is_active == true %>
          <%= render 'public/feeds/data', feed: feed %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>