<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% feeds.each do |feed| %>
        <% if feed.member == current_member || feed.member.is_private == false || current_member.following?(feed.member) || feed.member.is_active == true %>
          <%= link_to feed_path(feed), class: "text-decoration-none" do %>
            <%= render 'public/feeds/data', feed: feed %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>