<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center h2">タイムライン</div>
    </div>
  </div>
</div>
<% if @feeds.count == 0 %>
  <p><font color=red>タイムラインに投稿がありません</p>
<% else %>
  <%= render 'public/feeds/list', feeds: @feeds %>
<% end %>