<% if feed.member != current_member && feed.member.is_private == true %>
  <h1>非公開！</h1>
<% else %>
  <h4>
    <%= feed.created_at %>
    <% if feed.current_duration == 0 %>
      <%= feed.member.nickname %>さんが新しい習慣に取り組むようです：
    <% else %>
      <%= feed.member.nickname %>さんが習慣に取り組みました：
    <% end %>
    <%= link_to feed.habit.name, member_feed_path(feed.member_id, feed.id) %>

  </h4>


<% end %>