<h1>タイムライン</h1>

<%= link_to "習慣の登録", new_member_habit_path(current_member.id) %>
<%= link_to "習慣の一覧", member_habits_path(current_member.id) %>

<% @feeds.each do |feed| %>

  <%= render 'feeds/feed_data', feed: feed %>
<% end %>
<br>
