<% if current_member.following?(member)  %>
  <%= link_to "フォロー解除", member_relationship_path(member), class: "btn btn-outline-danger", method: :delete %>
<% else %>
  <% if member.is_private %>
    <% if current_member.requested?(member) %>
      <button type="button" class="btn btn-outline-secondary" disabled data-bs-toggle="button" autocomplete="off">フォローリクエスト済</button>
    <% else %>
        <%= link_to 'フォローリクエスト', member_follow_request_path(member), class: "btn btn-outline-primary", method: :post %>
    <% end %>
  <% else %>
    <%= link_to 'フォローする', member_relationship_path(member), class: "btn btn-outline-primary", method: :post %>
  <% end %>
<% end %>
