<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true">Members</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="habits-tab" data-toggle="tab" href="#habits" role="tab" aria-controls="habits" aria-selected="false">Habits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="feeds-tab" data-toggle="tab" href="#feeds" role="tab" aria-controls="feeds" aria-selected="false">Feeds</a>
  </li>
</ul>
