<h1>検索結果</h1>


<h3>メンバー</h3>

<% if @member_results.count == 0 %>
  <p><font color="red">メンバーはいません</font></p>
<% else %>
  <%= render "public/members/list", members: @member_results %>
<% end %>

<h3>習慣</h3>

<% if @habit_results.count == 0 %>
  <p><font color="red">習慣はありません</font></p>
<% else %>
  <%= render "public/habits/list", members: @habit_results %>
<% end %>