<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-3">
        <div class="card-body">
          <h1 class="card-title text-center">HABI-LOGについて</h1>
          <br>
          <p class="text-center text-muted">
            習慣の記録をつけたり、お互いの頑張りを励まし合ったり出来る<br>
            習慣トラッカーSNSサイト
          </p>
          <div class="card-text text-center">
            運動や習いごと等、新しく何かを始め、「習慣」とする。<br>
            日々を忙しく生きる私たちにとって、行動の習慣化は自分との戦いになりがちです。<br>
            <br>
            新しいことを始めようとしても<br>
            なかなか続かない状況に陥ることがあり、とても悩んでいました。<br>
            日々の頑張りを1人で抱え込まずに皆で励まし合ったり、<br>
            <br>
            他の人の良い習慣を取り入れて実践していけば、<br>
            高いモチベーションを持って習慣化に繋げられ、<br>
            より充実した日々を過ごすことが出来るのではないかと考え、<br>
            開発テーマと致しました。
          </div>
          <div class="text-center"><%= link_to "TOPへ戻る", root_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>