<% notifications.order(created_at: :desc).each do |notification| %>
  <li>
    <%= link_to notification_path(notification) do %>
      <%= render "notifications/data", notification: notification %>
    <% end %>
  </li>
<% end %>