<div>
  習慣名：<%= habit.name %>
</div>
<div>
  最終達成日：<%= render "admin/habits/display_last_achievement", last_achievement: habit.last_achievement %>
</div>
<div>
  <%= link_to "詳細", admin_member_habit_path(habit.member, habit) %>
</div>
<br>
