<%= link_to "戻る", admin_member_path(@member) %>

<h1><%= @member.name %>(<%= @member.account_id %>)の習慣一覧</h1>

<% if @habits.count == 0 %>
  <div><font color="red">まだ習慣は登録されていません。</font></div>
<% else %>
  <%= render "admin/habits/list", habits: @habits %>
<% end %>
