<% if @member.is_active == false %>
<div class="container text-center">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-text">このメンバーは退会済です</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <%= render "public/members/profile", member: @member %>
<% end %>