<%= form_with model: reply_comment, url: feed_post_comment_reply_comments_path(feed_id,post_comment_id), method: :post do |f| %>
  <p><%= f.text_area :content, class: "form-control form-control-lg", placeholder: "コメントへ返信" %></p>
  <%= f.submit "返信する" %>
<% end %>