<%= form_with model: reply_comment, url: feed_post_comment_reply_comments_path(feed_id,post_comment_id), method: :post do |f| %>

  <p>返信はこちら</p>
  <%= f.text_area :content %>
  <%= f.submit "返信する！" %>

<% end %>
