<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= form_with model: post_comment, url: feed_post_comments_path(feed_id), method: :post do |f| %>
      <p><%= f.text_area :content, class: "form-control form-control-lg", placeholder: "投稿へコメント" %></p>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>
</div>