<div class="row">
  <div class="col-md-8 offset-md-2">
    <br>
    <% if @post_comments.count == 0 %>
      <p><font color="red">まだコメントがありません</font></p>
    <% else %>
      <h4>コメント一覧</h4>
      <% post_comments.each do |post_comment| %>
          <%= render "public/post_comments/data", post_comment: post_comment %>
      <% end %>
    <% end %>
  </div>
</div>
