<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= render "public/post_comments/data", post_comment: @post_comment %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= render "public/reply_comments/form", reply_comment: @reply_comment, post_comment_id: @post_comment.id, feed_id: @post_comment.feed_id %>
    </div>
  </div>
  <%= render "public/reply_comments/list", reply_comments: @reply_comments %>
</div>

