<%= link_to "戻る", members_path %>

<h1>検索結果</h1>


<h3>メンバー </h3>

<% @results.each do |member| %>
  <div>
    <h4>■<%= link_to member.name, member_path(member) %>さん</h4>
  </div>
  <div>
    メンバーＩＤ：<%= member.account_id %>
  </div>
  <div>
    登録日：<%= member.created_at %>
  </div>
<% end %>
