<h4>承認しますか？</h4>

<%= render "public/members/data", member: %>

<%= link_to "承認する", approve_path(member), method: :delete %>
<%= link_to "拒否する", member_follow_request_path(member), method: :delete %>
