<%= link_to member_habit_path(member_id: habit.member_id, id: habit.id), class: "text-decoration-none" do %>
  <div class="card mb-3">
    <div class="card-header text-white bg-info h3">
      Habit：<%= habit.name %>
    </div>
    <div>
      最終達成日：<%= render "public/habits/display_last_achievement", last_achievement: habit.last_achievement %>
    </div>
  </div>
<% end %>