<% if current_member != nil %>

  <div>
    アカウント名：<%= current_member.account_id %>
  </div>
  <div>
    メールアドレス：<%= current_member.email %>
  </div>
  <div>
    ニックネーム：<%= current_member.name %>
  </div>
  <% if current_member.notifications.where(read: false).any? %>
    <% current_member.notifications.where(read: false).order(created_at: :desc).each do |notification| %>
      <li>
        <%= link_to notification_message(notification), notification_path(notification), method: :patch %>
      </li>
    <% end %>
  <% else %>
    <p>未読の通知はありません</p>
  <% end %>

<% end %>